body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin: 0;  /* Fjerner standard margin */
    padding: 0; /* Fjerner standard padding */
    min-height: 100vh; /* Sikrer at body fyller hele vindushøyden */
}

.main {
    display: flex;
    flex: 1;
    width: 100%;
}

.content {
    /*margin-left: 25%; /* Hindrer at innholdet overlapper sidebaren */
    flex-grow: 1;
    padding: 20px;
    white-space: normal; /* Tillater vanlig tekstbryting */
    /*width: 100%; /* Sørg for at containeren har full bredde */
    text-align: center;
    box-sizing: border-box; /* Hindrer at padding påvirker bredden */
}

h1 {
    color: rgb(2, 77, 102); 
}

p.bold {
    font-weight: bold;
    
}

.headers {
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    width: 50%; /* Bredden på sidebaren */
    background-color: rgb(2, 77, 102); /* Mørk blå bakgrunn */
    padding: 20px;
    height: 100vh; /* Gjør at sidebaren fyller hele høyden */
    box-sizing: border-box;
}  

.sidebar ul {
    list-style-type: none; /* Fjern punktlister */
    padding: 10%;    /* avstanden mellom innholdet (for eksempel tekst eller bilder) */
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 30px; /* Øker mellomrommet mellom lenkene */
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 1.5em; /* Øker størrelsen på lenkene */
    color: white;
}

/* for at lenkene skal endre farge ved hover */
.sidebar ul li a:hover {
    text-decoration: underline; /* Understreking ved hover */
    color: lightgray; /* Endre fargen ved hover */
}
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    width: 100%;
    /*position: relative; /*Sikrer at den forblir på bunnen når innholdet ikke fyller hele siden*/
    /*bottom: 0;*/
}