body{
    background-color: lightblue;
}
.pink {
    color: hotpink;
    text-align: center;
}
h1 {
    color: darkblue;
    text-align: right;
}
img{
    width: 400px;
    position: absolute;
    top: 200px;
    left: 200px;
}