<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
            body{
                background-color: black;
                color: white;
            }
        </style>
        
    </head>
    <body>
        <h2>Mausund nettside yeah</h2>
        <h2>dette blir bra</h2>
        <h1 class = "headers">Sensor greier</h1>
        <p>Noen bilder kanskje<p>
        <p class="blåfarge">Grafer her? Eller på en ny side muligens?</p>

    </body>
</html>