<html></html>
    <head>
        <title>Nr2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    </head>
    <body>
        <div class="main">
            <aside class = "sidebar">
                <a href="{{url_for('run')}}">
                    <img src="{{url_for('static', filename='487BDFE8-69CE-4ACF-858A-F14382F42528_4_5005_c.jpeg') }}" alt="Logo" class="logo">
                </a>
                <ul>
                    <li>
                        <a href="#" class="dropdown-toggle">Sensorer</a>
                        <ul class="dropdown">
                            <li><a href="/ph">PH</a></li>
                            <li><a href="/temperatur">Temperatur</a></li>
                            <li><a href="/sensor">Total dissolved solids</a></li>
                            <li><a href="/turbiditet">Turbiditet</a></li>
                        </ul>
                    <li><a href="/nr2">Gå til Nr2</a></li>
            </aside>
            <div class = "content">
                <h1>Nr2</h1>
                <p>Graf</p>
            </div>
        </div>
        <footer>
            <p>Dette er en footer</p>
            <a href="{{url_for('run')}}">
                <img src="{{url_for('static', filename='487BDFE8-69CE-4ACF-858A-F14382F42528_4_5005_c.jpeg') }}" alt="Logo" class="logo">
            </a>
            <a href="https://www.facebook.com/MausundFeltstasjon/" target="_blank">
                <img src="{{url_for('static', filename='facebook.png') }}" alt="Facebook" class="facebook">
            </a>
            <a href="https://www.instagram.com/mausundfeltstasjon/" target="_blank"></a>
                <img src="{{url_for('static', filename='instagram.png') }}" alt="Instagram" class="instagram">
            </a>
            <a href="https://twitter.com/MausundF" target="_blank"></a>
                <img src="{{url_for('static', filename='twitter.jpg') }}" alt="X" class="twitter">
            </a>
           
        </footer>
    </body>
</html>