<html>
    <head>
        <title>Oda</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    </head>
    <body>
        <div class="main">
            <aside class = "sidebar">
                <a href="{{url_for('run')}}">
                    <img src="{{url_for('static', filename='487BDFE8-69CE-4ACF-858A-F14382F42528_4_5005_c.jpeg') }}" alt="Logo" class="logo">
                </a>
                <ul>
                    <li><a href="/oda">Gå til Oda</a></li>
                    <li><a href="/chello">Gå til Chello</a></li>
                    <li><a href="/sensor">Gå til sensor</a></li>
                </ul>
            </aside>
            <div class = "content">
                <h1>PH-sensor</h1>
                <p>Yes</p>
            </div>
        </div>
        <footer>
            <p>Dette er en footer</p>
        </footer>
    </body>
</html>