<html>
    <head>
        <title>PH</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    </head>
    <body>
        <div class="main">
            <aside class = "sidebar">
                <a href="{{url_for('run')}}">
                    <img src="{{url_for('static', filename='487BDFE8-69CE-4ACF-858A-F14382F42528_4_5005_c.jpeg') }}" alt="Logo" class="logo">
                </a>
                <ul>
                    <li>
                        <a href="#" class="dropdown-toggle">Sensorer</a>
                        <ul class="dropdown">
                            <li><a href="/oda">PH</a></li>
                            <li><a href="/temperatur">Temperatur</a></li>
                            <li><a href="/sensor">Total dissolved solids</a></li>
                            <li><a href="/turbiditet">Turbiditet</a></li>
                        </ul>
                    <li><a href="/nr2">Gå til Nr2</a></li>
            </aside>
            <div class = "content">
                <h1>PH-sensor</h1>
                <p>Yes</p>
            </div>
        </div>
        <footer>
            <p>Dette er en footer</p>
        </footer>
    </body>
</html>