<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mausund sensorbøye</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    </head>
    <body>
        <div class="main">
            <aside class = "sidebar">
                <a href="{{url_for('run')}}">
                    <img src="{{url_for('static', filename='487BDFE8-69CE-4ACF-858A-F14382F42528_4_5005_c.jpeg') }}" alt="Logo" class="logo">
                </a>
                <ul>
                            <li><a href="/ph">PH</a></li>
                            <li><a href="/temperatur">Temperatur</a></li>
                            <li><a href="/tds">Total dissolved solids</a></li>
                            <li><a href="/turbiditet">Turbiditet</a></li>
                </ul>

                    <div class = "link-container">
                        <a href="https://www.facebook.com/MausundFeltstasjon/" target="_blank">
                            <img src="{{url_for('static', filename='facebook.jpg') }}" alt="Facebook" class="facebook">
                        </a>
                        <a href="https://www.instagram.com/mausundfeltstasjon/" target="_blank">
                            <img src="{{url_for('static', filename='instagram.jpg') }}" alt="Instagram" class="instagram">
                        </a>
                        <a href="https://twitter.com/MausundF" target="_blank">
                            <img src="{{url_for('static', filename='twitter.jpg') }}" alt="X" class="twitter">
                        </a>
                    </div>
                </ul>
            </aside>

            <div class="content">
                <h1>Mausund sensorbøye</h1>
                <div class= "Bilde-venstre-for-tekst-forhold">
                    <img src="static/Framsidebilde-1-3 copy.jpeg" alt="MausundFeltstasjon" style="width: 100%; max-width: 500px;"> 
                    <p>
                        Vår oppgave dette semesteret har vært å lage noe som kan hjelpe Mausund Feltstasjon.
                        Tidligere i høst var vi på besøk. Vi fikk se hvordan ting fungerer, og høre hva de ønsket av oss.
                        Da forklarte de at de ønsket noe som kunne tiltrekke forskning til Mausund. Flere besøkende vil hjelpe med å spre ordet om hvordan vi behandler havene våres, 
                        men også det økonomiske.<br><br>

                        Våres idé, ble en slags "portal" hvor en kan finne og laste ned ulik data som måles med sensorer i vannet. Selve produktet er en bøye som er festet i havbunnen. 
                        Langs tauet er det festet en "sensorpakke". I denne prototypen er det inkuldert PH-sensor, Temperaturmåler, Total dissolved solids-sensor og Turbiditet-sensor. 
                        Idéen er at det skal lages flere slike pakker, som enkelt kan byttes, ut ifra den enkelte brukers behov. Det skal også være mulig å reise til Mausund med sine egne sensorer for å feste dem på.
                        Dataen som samles inn skal kartlegge vannets tilstand, slik at det lettere kan utføres forskning i området.
                    </p>
                </div>
                

                <img src="static/sensor_bøye.png" alt="Sensor_bøyle" style="width: 50%; max-width: 500px">
                <p>
                    Skisse av produktet
                </p>
            </div>
        </div>
    </body>

</html>