<html>
    <head>
        <title>Velkommen til Mausund</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    </head>
    <body>
        <div class="main">
            <aside class = "sidebar">
                <a href="{{url_for('run')}}">
                    <img src="{{url_for('static', filename='487BDFE8-69CE-4ACF-858A-F14382F42528_4_5005_c.jpeg') }}" alt="Logo" class="logo">
                </a>
                <ul>
                    <li>
                        <a href="#" class="dropdown-toggle">Sensorer</a>
                        <ul class="dropdown">
                            <li><a href="/ph">PH</a></li>
                            <li><a href="/temperatur">Temperatur</a></li>
                            <li><a href="/sensor">Total dissolved solids</a></li>
                            <li><a href="/turbiditet">Turbiditet</a></li>
                        </ul>
                    <li><a href="/nr2">Gå til Nr2</a></li>
                </ul>
            </aside>

            <div class="content">
                <h1>Velkommen til Mausund</h1>
                <p>Dette er hovedinnholdet på nettsiden.</p>
            </div>
        </div>
        <footer>
            <div class = "link-container">
                <a href="https://www.facebook.com/MausundFeltstasjon/" target="_blank">
                    <img src="{{url_for('static', filename='facebook.jpg') }}" alt="Facebook" class="facebook">
                </a>
                <a href="https://www.instagram.com/mausundfeltstasjon/" target="_blank">
                    <img src="{{url_for('static', filename='instagram.jpg') }}" alt="Instagram" class="instagram">
                </a>
                <a href="https://twitter.com/MausundF" target="_blank">
                    <img src="{{url_for('static', filename='twitter.jpg') }}" alt="X" class="twitter">
                </a>
            </div>
        </footer>
    </body>

</html>