<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mausund sensorbøye</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    </head>
    <body>
        <div class="main">
            <aside class = "sidebar">
                <a href="{{url_for('run')}}">
                    <img src="{{url_for('static', filename='487BDFE8-69CE-4ACF-858A-F14382F42528_4_5005_c.jpeg') }}" alt="Logo" class="logo">
                </a>
                <ul>
                            <li><a href="/ph">PH</a></li>
                            <li><a href="/temperatur">Temperatur</a></li>
                            <li><a href="/tds">Total dissolved solids</a></li>
                            <li><a href="/turbiditet">Turbiditet</a></li>
                </ul>

                    <div class = "link-container">
                        <a href="https://www.facebook.com/MausundFeltstasjon/" target="_blank">
                            <img src="{{url_for('static', filename='facebook.jpg') }}" alt="Facebook" class="facebook">
                        </a>
                        <a href="https://www.instagram.com/mausundfeltstasjon/" target="_blank">
                            <img src="{{url_for('static', filename='instagram.jpg') }}" alt="Instagram" class="instagram">
                        </a>
                        <a href="https://twitter.com/MausundF" target="_blank">
                            <img src="{{url_for('static', filename='twitter.jpg') }}" alt="X" class="twitter">
                        </a>
                    </div>
                </ul>
            </aside>

            <div class="content">
                <h1>Mausund sensorbøye</h1>
                <div class= "Bilde-venstre-for-tekst-forhold">
                
                    <img src="static/sensor_bøye.png" alt="Sensor_bøyle" style="width: 50%; max-width: 500px"> 
                    <p>
                        I løpet av dette semesteret har vi arbeidet med å utvikle en løsning som kan støtte Mausund Feltstasjon i deres arbeid, og bidra til å tiltrekke flere forskere til området.
                        Under våres besøk til feltstasjonen, fikk vi et innblikk i deres drift og behov.
                        Det ble utrykt et ønske om et prosjekt som kunne øke forskningsaktiviteten og tiltrekke flere besøkende. 
                        Dette vil bidra til økt oppmerksomhet rundt bevaring av miljøet, og dermed muligens øke feltstasjonens økonomiske støtte.

                        Vår idé er en sensorbøye, ankret fast i havbunnen, med en sensorpakke festet langs tauet. Sensorpakken vi har brukt i prototypen består av:<br><br>
                        - PH-sensor <br><br> - Temperaturmåler <br><br> - Total Dissolved Solids-sensor <br><br> - Turbiditetssensor <br><br>
                        Løsningen er designet med fleksisbilitet og brukervennlighet i fokus. Sensorpakkene skal kunne tilpasses etter brukerens behov, og det vil også være mulig
                         å ta med egne sensorer til Mausund og enkelt koble disse til systemet. <br><br>
                         Dataen som samles inn, skal gi et bilde av vannkvaliteten i området, og den skal sendes via wifi til denne nettsiden, til grafer som oppdateres kontinuerlig.
                         Nettsiden vil fungere som en digital "portal", der brukeren kan finne og laste ned data fra sensorene.
                    <br><br><br><br>
                        <img src="static/Framsidebilde-1-3 copy.jpeg" alt="MausundFeltstasjon" style="width: 100%; max-width: 500px;">
                    </p>
                    
                </div>
            </div>
        </div>
    </body>

</html>